.distributor-section {
    background-image: url('/imagenes/Designer.jpeg');
    padding: 24px;
    border-radius: 10px;
    margin-top: 12%;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.2);
}

.location {
    margin-left: 16%;
}

.custom-card {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-card .card-img-top {
    object-fit: cover;
    height: 150px;
}

.text-center {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

#mainInicioNosotros {
    padding: 2rem; 
}

.tituloNosotros {
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.parrafoNosotros {
    font-size: 1rem; 
    margin-bottom: 2rem; 
}

.carousel-container {
    display: flex;
    justify-content: center; 
    padding-top: 5rem;
    margin-bottom: 2rem; 
}

#miCarrusel, #miCarruselEvento {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
}

#miCarrusel .carousel-inner, #miCarruselEvento .carousel-inner {
    width: 100%;
    height: auto; 
}

#miCarrusel .carousel-item img, #miCarruselEvento .carousel-item img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.card-img-top {
    transition: transform 0.3s ease; 
}

.card-img-top:hover {
    transform: scale(1.1); 
}

.contact-container {
    padding: 10rem;
}

.contact-info {
    margin-top: 2rem;
    text-align: center;
}

.contact-info a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.contact-map iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
}

html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex; 
    flex-direction: column; 
}

main {
    flex: 1; 
}

.carta {
    font-size: 100%;
}

@media (min-width: 320px) and (max-width: 768px) 
{
    .navbar {
        position: static !important;
    }

    .cartaDot4 {
        margin-top: -1% !important;
    }

    .wspNav{
        margin-right: 0px !important;;
    }

    .instagramNav {
        padding-right: 4rem !important;;
    }

    .imagenPngLogo {
        width: 30% !important;
        position: fixed !important;
        left: 5% !important;
        top: 30px !important;
        position: static !important;
    }

    .navbar-nav {
        display: flex !important;
        justify-content: space-around !important;
        width: 100% !important;
        padding: 0 !important;
    }

    .navbar-nav .nav-item {
        margin-inline: 0 !important; 
        flex-grow: 1 !important; 
        text-align: center !important; 
    }

    .ml-auto.d-flex {
        justify-content: center !important;
        width: 100% !important;
    }

    .imagenIndex {
        width: 100% !important;
        height: auto !important;
    }

    .containerHijoNav {
        padding-top: 0rem !important;
    }

    .h1Bienvenidos {
        font-size: 1.5rem !important;
    }

    .containerHijoNav div {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    h1 {
        font-size: 1rem !important;

    }

    #footerInicio {
        padding: 10px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    footer {
        position: relative !important;
        z-index: 2 !important; 
    }

    #footerInicio > div {
        display: flex !important;   
        align-items: center !important;
        margin-right: 10px !important;
    }

    .footer .imagenPngLogoFooter {
        width: 100px !important;
        height: auto !important;
        margin-bottom: 0px !important;
        margin-right: 2px !important;
        margin-left: -4px !important;
    }

    .footer a {
        color: #ffffff !important;
        margin-right: 7px !important;
    }

    .location, .footer > div {
        text-align: center !important;
        margin: 0 5px !important;
        flex-grow: 1 !important;
    }

    .card {
        flex-direction: column  !important; 
        width: 100%  !important; 
        max-width: 300px  !important; 
        margin: 0 auto  !important; 
    }

    .card-img-left {
        width: 100%  !important; 
        height: auto  !important; 
        border-radius: 10px 10px 0 0  !important; 
    }

    .card-body {
        text-align: justify !important;
        padding: 10px  !important; 
    }

    .cartasIndex {
        font-size: 0.7rem !important;
    }

    .card-text {
        font-size: 0.9rem  !important; 
    } 

    .carousel-item .col-4 {
        flex: 1 1 30%  !important; 
        margin: 0 5px  !important; 
    }

    .carousel-item img {
        width: 100%  !important; 
        height: auto  !important; 
        border-radius: 10px  !important; 
    }

    .carousel-container {
        position: absolute !important;
        top: 54% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        max-width: 39rem !important;
    }

    .carrucelProductos img {
        width: 100% !important; 
        height: auto !important; 
        border-radius: 10px !important; 
        padding-top: 0px  !important;
    }   

    #containerPadreNosotros {
        position: relative !important;
        background-color: #010202 !important;
        min-height: auto !important;
    }
    
    .coolantRefrigente {
        margin: 12% !important;
    }

    #mainInicioNosotros {
        position: relative !important;
        top: 16rem !important;
        left: 0 !important;
        width: 100% !important;
        padding: 1rem !important;
        color: #fff !important;
        z-index: 1 !important;
        background: rgba(0, 0, 0, 90%);
        margin-bottom: -143px !important
    }
    
    #footer {
        margin-top: 0 !important; 
        padding-top: 1rem !important;
    }
    
    .titulos {
        font-size: 1.2rem !important;
        text-align: left !important;
    }
    
    .parrafos {
        font-size: 0.9rem !important;
        text-align: left !important;
        margin: 10px 0 !important;
    }
    

    #containerEventos {
        padding: 0 !important;
        margin: 0 !important;
    }

    .carruselEventos {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .containerCarruselHijo img {
        width: 100% !important;
        height: auto !important;
        border-radius: 10px !important;
        padding-top: 50rem!important;
    }

    #mainInicioEventos {
        padding: 3rem !important;
        text-align: left !important;
        margin-top: 100vh !important;
    }

    .containerHijoEventos h1, h3, h4, h5, p {
        font-size: 100% !important;
    }

    .containerHijoEventos h1 {
        font-size: 1.2rem !important;
        margin-top: 1rem !important;
    }

    .containerHijoEventos h3 {
        font-size: 1rem !important;
    }

    .containerHijoEventos p {
        font-size: 0.9rem !important;
    }

    #containerContactos {
        padding: 1rem !important;
        margin: 3rem auto !important;
        width: 100% !important;
    }

    .contact-container {
        padding: 0 !important;
        margin: 0 auto !important;
        max-width: 100% !important; 
    }

    .containerDireccion {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
    }

    .containerDireccion .col-md-6 {
        width: 100% !important; 
        margin-bottom: 1rem !important;
    }

    .contact-map iframe {
        width: 100% !important;
        height: 250px !important; 
        border: 0 !important;
    }

    .containerRedesContactos {
        display: flex !important;
        flex-direction: column !important;
        gap: 0.5rem !important;
        align-items: center !important;
    }

    .containerRedesContactos a {
        font-size: 1rem !important;
        display: block !important;
        text-align: center !important;
    }
    
    .imagenDot4 {
        width: 40% !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) 
{
    .dot3 {
        top: 36% !important;
    }

    .carta {
        font-size: 100% !important;
    }

    .h1Bienvenidos {
        font-size: 1.5rem !important;
    }

    h5 {
        font-size: 1.3rem !important;
    }

    .containerIndex {
        top: 66% !important;
    }

    .containerHijoNav {
        padding-top: 0rem !important;
    }

    .navbar .imagenPngLogo{
        position: static !important;
    }

    .imagenPngLogo {
        width: 18% !important;
        position: fixed !important;
        left: 12% !important;
        top: 53px !important;
    }

    .cartasIndex {
        margin-bottom: -2.25rem !important;
        font-size: 0.9rem !important;
    }
    

    .imagenPrincipalProductos {
        top: 63% !important;
    }

    #mainInicioEventos {
        margin-top: 130vh !important;
    }

    .containerCarruselHijo img {
        padding-top: 50% !important;
        height: 120rem !important;
    }

    .mainInicio {
        margin-top: 45% !important;
    }

    #containerContactos {
        margin: 2rem auto !important;
    }

    .imagenProductoInicio {
        width: 100% !important;
    }

    .imagenIndex {
        height: 93vh !important
    }

    .containerHIjoProductos {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }

    .imagenPorductos {
        height: 80vh !important;
        margin-top: 46% !important;
    }

    .containerNietoProducto:nth-child(3) {
        width: 100% !important; 
    }

    .containerabueloProducto {
        display: block !important; 
        flex-direction: column !important;
        text-align: center !important;
        margin: auto !important;
    }

    .containerNietoProducto {
        display: inline-block !important;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 16px;
    }

    .card {
        flex-direction: column !important;
    }

    .carta {
        text-align: justify !important;
        padding: 0 !important; 
    }

    .imagenProducto {
        width: 7rem !important; 
        margin: auto !important;
    }

    .imagenDot4 {
        width: 40% !important; 
        margin: auto !important;
    }

    #containerPadreNosotros {
        position: relative !important;
        background-color: #010202 !important;
        min-height: auto !important;
    }

    #mainInicioNosotros {
        position: relative !important;
        top: 13rem !important;
        left: 0 !important;
        width: 100% !important;
        padding: 1rem !important;
        color: #fff !important;
        z-index: 1 !important;
        background: rgba(0, 0, 0, 90%);
        margin-bottom: -143px !important
    }

    .parrafoPrincipal {
        text-align: justify !important;
        margin: 2% !important;
    }

    .redesSocialesNavContactos {
        margin-right: 42% !important;
    }

    .containerCarruselHijo img {
        padding-top: 127% !important;
    }

    #mainInicioEventos {
        margin-top: 22vh !important;
    }

    .parrafoContacto {
        margin-top: 1rem !important;
    }

    .dot4444 {
        text-align: justify !important;
    }

    #containerContactos {
        margin: 0rem auto !important;
    }

    .contact-container {
        padding: 0rem;
    }

    .contact-info {
        margin-top: 28rem !important;
        text-align: center !important;
    }

    .containeres {
        max-width: 26rem !important;
        top: 24rem !important;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) 
{
    .imagenPngLogo {
        top: 12px !important;
    }

    #containerPadre {
        right: 0px !important;
    }

    #containerPadreNosotros {
        position: relative !important;
        min-height: 75vh !important; 
    }

    #containerHijoNosotros {
        position: relative !important;
    }

    #containerHijoNosotros .imagenNosotros {
        width: 100% !important;
        height: auto !important;
    }

    #mainInicioNosotros {
        position: absolute !important;
        top: 55% !important; 
        left: 0 !important;
        width: 100% !important; 
        padding: 1rem !important; 
        color: #fff !important;
        z-index: 1 !important; 
        background: rgba(0, 0, 0, 0.5); 
    }

    .titulos {
        font-size: 1.2rem !important;
        text-align: left !important;
    }

    .parrafos {
        font-size: 0.9rem !important;
        text-align: left !important;
        margin: 10px 0 !important;
    }
}